h2.title {
    font-size: 1.1em;
    font-weight: 400;
}
.btn-actions {
    opacity: 0;
}
td:hover .btn-actions {
    opacity: 1;
}
td:active .btn-actions {
    opacity: 1;
}
.btn-actions,
.btn-actions a {
    color: #62adff!important;
}