body {
    background-color: #ffffff;
}

nav.navbar {
    z-index: 1;
}

.topics {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 0;
}

.topics h1 {
    font: 700 14px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 15px;
    color: #565656;
    line-height: 1.4em;
}

.topics ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topics a {
    color: #555;
    padding: 8px 16px;
    display: block;
    transition: .25s;
}

.topics a:hover {
    text-decoration: none;
    background: #f0f0f0;
}
