.card-thumbnail {
    height: 250px;
    overflow: hidden;
    background-size: cover;
}

.card {
    border-radius: 0;
    border: 0;
    transition: .75s;
}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: initial;
}